/* Saya menggunakan eksternal CSS */
/*  BUAT KESELURUHAN HTML */
body {
    font-family: Tahoma, Arial; 
    background: #f8fafc;
    color:#1e293b;
    margin:10px 20px;
    padding:20px 20px;
}
    /* BUAT BOX  */
.ini-box{
    background-color:#0f172a;
    color: #ffffff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}
/*  BUAT FOTO */
.foto{
    width: 180px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border:3px solid #cbd5e1;
    border-radius: 8px;
    transition: 0.3s;
}
/* BUAT ISI BOX */
.ini-info{
    font-size: 17px;
    color:whitesmoke;
    margin: 4px 10px;
}
/* LINK KONTAK li */
.linkkontak li{
    margin-top: 10px;
    color: #0f172a;
    text-decoration: none;
    font-weight: bold;
}
.linkkontak:hover{
    text-decoration: underline;
    color:#38bdf8;
}
.foto:hover{
    transform: scale(2);
}
/* BUAT TABLE */
.pendidikan{
margin:10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    margin-top: 12px; 
}
th{
    background: #333;
    color:white;
    padding:10px, 14px;
}
td{
    padding:10px, 14px;
    border:2px solid #000307
}
.kemampuan{
    margin:10px;
}
.halaman{
    text-align: center;
}
